<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>stadosweb</display-name>
	<description>stados - state of the art digital ordering system</description>
	 
	<servlet>
		<servlet-name>stados-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>statusfeed</servlet-name>
		<servlet-class>com.cs.stadosweb.servlet.StatusFeed</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>secureendpoint</servlet-name>
		<servlet-class>com.cs.stadosweb.servlet.SecureEndpoint</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<!--  map requests through spring -->
	<servlet-mapping>
		<servlet-name>stados-dispatcher</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>	
	
	<servlet-mapping>
		<servlet-name>statusfeed</servlet-name>
		<url-pattern>/status/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>secureendpoint</servlet-name>
		<url-pattern>/sec/*</url-pattern>
	</servlet-mapping>

	<!-- static pages -->
	<welcome-file-list>
		<welcome-file>/view/index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>500</error-code>
		<location>/view/template/error.v</location>
	</error-page>
	
</web-app>
