<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link href="../style/default.css" rel="stylesheet" type="text/css" />
</head>
<body>

   <div class="table">
    <div class="th">
     <div class="td">Name</div>
     <div class="td">Phone</div>
     <div class="td">City</div>
     <div class="td">State</div>
     <div style="clear: both;"></div>

    </div>
    <div class="tr">
     <div class="td">Clark</div>
     <div class="td">785-555-0303</div>
     <div class="td">Smallville</div>
     <div class="td">Kansas</div>
     <div style="clear: both;"></div>

    </div>
    <div class="tr">
     <div class="td">John</div>
     <div class="td">785-555-0303</div>
     <div class="td">Smallville</div>
     <div class="td">Kansas</div>
     <div style="clear: both;"></div>

    </div>
    <div class="tr">
     <div class="td">Martha</div>
     <div class="td">785-555-0303</div>
     <div class="td">Smallville</div>
     <div class="td">Kansas</div>
     <div style="clear: both;"></div>

    </div>
   </div>
  </div>


</body>
</html>